@page "/antifonas"

<div class="col-md-12">

<h1 class="text-center">Antífonas de Nossa Senhora</h1>

<h2 class="text-center" id="item-1">Salve Regína</h2>

<Salveregina />

<h2 class="text-center" id="item-2">Regína cæli</h2>

<Reginacaeli />

<h2 class="text-center" id="item-3">Alma Redemptóris Mater</h2>

<Almaredemptorismater />

<h2 class="text-center" id="item-4">Ave Regína cælórum</h2>

<Avereginacaelorum />

</div>