@page "/missa"
@inject State State

<Row>
	@if(State.SidebarIsOpen){
	<div class="col-2">
    	<SideBar />
	</div>
	<div class="col-10">
		<FetchMass />
	</div>
	}
	@if(!State.SidebarIsOpen){
	<div class="col-12">
		<FetchMass />
	</div>
	}
</Row>

@code{
	protected override async Task OnInitializedAsync(){
		await State.GetToday();
		State.OnChange += StateHasChanged;
	}
	public void Dispose() {
		State.OnChange -= StateHasChanged;
	}
}