@page "/oficio"

<div class="col-md-12">

    <h1 class="text-center">Pequeno Ofício de Nossa Senhora</h1>

    <h2 class="text-center" id="item-1">Matinas 1</h2>

    <Matins1 />

    <h2 class="text-center" id="item-2">Matinas 2</h2>

    <Matins2 />

    <h2 class="text-center" id="item-3">Lauds 1</h2>

    <Lauds1 />

    <h2 class="text-center" id="item-4">Lauds 2</h2>

    <Lauds2 />

    <h2 class="text-center" id="item-5">Lauds 3</h2>

    <Lauds3 />

    <h2 class="text-center" id="item-6">Prima 1</h2>

    <Prima1 />

    <h2 class="text-center" id="item-7">Prima 2</h2>

    <Prima2 />

    <h2 class="text-center" id="item-38">Prima 3</h2>

    <Prima3 />

    <h2 class="text-center" id="item-9">Terça 1</h2>

    <Terca1 />

    <h2 class="text-center" id="item-10">Terça 2</h2>

    <Terca2 />

    <h2 class="text-center" id="item-11">Terça 3</h2>

    <Terca3 />

    <h2 class="text-center" id="item-12">Sexta 1</h2>

    <Sexta1 />

    <h2 class="text-center" id="item-13">Sexta 2</h2>

    <Sexta2 />

    <h2 class="text-center" id="item-14">Sexta 3</h2>

    <Sexta3 />

    <h2 class="text-center" id="item-15">Noa 1</h2>

    <Noa1 />

    <h2 class="text-center" id="item-16">Noa 2</h2>

    <Noa2 />

    <h2 class="text-center" id="item-17">Noa 3</h2>

    <Noa3 />

    <h2 class="text-center" id="item-18">Vésperas 1</h2>

    <Vespers1 />

    <h2 class="text-center" id="item-19">Vésperas 2</h2>

    <Vespers2 />

    <h2 class="text-center" id="item-20">Vésperas 3</h2>

    <Vespers3 />

    <h2 class="text-center" id="item-21">Completas 1</h2>

    <Completas1 />

    <h2 class="text-center" id="item-22">Completas 2</h2>

    <Completas2 />

    <h2 class="text-center" id="item-23">Completas 3</h2>

    <Completas3 />

</div>