@inject State State

@if(State.GradualeBody == null){
    <Column ColumnSize="ColumnSize.Is12">
        <span class="spinner-border text-center mt-3"></span>
    </Column>
} else {
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <h2 class="text-center">@State.GradualeLabel</h2>
			@foreach(var item in State.GradualeBody){
    	        <p>@((MarkupString)item.FirstOrDefault())</p>
			}
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <h2 class="text-center">@State.GradualeId</h2>
			@foreach(var item in State.GradualeBody){
    	        <p>@((MarkupString)item.LastOrDefault())</p>
			}
        </Column>
    </Row>
}

@code{
	protected override async Task OnInitializedAsync() {
		await State.GetTodayComponents("graduale");
		State.OnChange += StateHasChanged;
	}
	protected override void OnParametersSet() {
		State.OnChange += StateHasChanged;
	}
	public void Dispose() {
		State.OnChange -= StateHasChanged;
	}
}
