@inject State State
@inject NavigationManager navigation

<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Danger">

@if(location.Contains("/missa")){
  <BarBrand>
    <Button @onclick="(() => State.ToggleSidebar())">
      @(State.SidebarIsOpen ? "<" : ">")
      <span class="iconify" data-icon="fa:calendar-o" data-inline="false"></span>
    </Button>
  </BarBrand>
}

<BarBrand>
  <BarLink To="/">
    <img src="../img/faviconWhite.svg" width="30px" alt="logo">
  </BarLink>
</BarBrand>


<BarToggler>
</BarToggler>
    
<BarMenu>
  <BarStart class="mx-auto">
    <BarItem>
      <BarLink To="/missa">Santa Missa Diária</BarLink>
    </BarItem>
    <BarItem>
      <BarDropdown>
        <BarDropdownToggle>Devocionário</BarDropdownToggle>
        <BarDropdownMenu>
          <BarDropdownItem To="salterio">Saltério</BarDropdownItem>
          <BarDropdownItem To="oracaomanha">Oração da Manhã</BarDropdownItem>
          <BarDropdownItem To="angelus">Angelus</BarDropdownItem>
          <BarDropdownItem To="oracaonoite">Oração da Noite</BarDropdownItem>
          <BarDropdownItem To="rosario">Santo Rosário</BarDropdownItem>
          <BarDropdownItem To="oficio">Pequeno Ofício de Nossa Senhora</BarDropdownItem>
          <BarDropdownItem To="antifonas">Antífonas de Nossa Senhora</BarDropdownItem>
          <BarDropdownItem To="adoracao">Bênção do Santíssimo Sacramento</BarDropdownItem>
        </BarDropdownMenu>
      </BarDropdown>
    </BarItem>
    <BarItem>
      <BarDropdown>
        <BarDropdownToggle>Missal Romano</BarDropdownToggle>
        <BarDropdownMenu>
          <BarDropdownItem To="/missa">Santa Missa Diária</BarDropdownItem>
          <BarDropdownItem To="ordinariomissa">Ordo Missæ</BarDropdownItem>
          <BarDropdownItem To="oracaoantescomunhao">Oração Antes da Comunhão</BarDropdownItem>
          <BarDropdownItem To="oracaodepoiscomunhao">Oração Depois da Comunhão</BarDropdownItem>
          <BarDropdownItem To="oracoesleoninas">Orações Leoninas</BarDropdownItem>
        </BarDropdownMenu>
      </BarDropdown>
    </BarItem>
    <BarItem>
      <BarDropdown>
        <BarDropdownToggle>Ritual Romano</BarDropdownToggle>
        <BarDropdownMenu>
          <BarDropdownItem To="baptismo">Baptismo</BarDropdownItem>
          <BarDropdownItem To="confirmacao">Confirmação</BarDropdownItem>
          <BarDropdownItem To="matrimonio">Matrimónio</BarDropdownItem>
          <BarDropdownItem To="extremauncao">Extrema-unção</BarDropdownItem>
          <BarDropdownItem To="requiem">Requiem</BarDropdownItem>
          <BarDropdownItem To="penitencia">Penitência</BarDropdownItem>
        </BarDropdownMenu>
      </BarDropdown>
    </BarItem>
    <BarItem>
      <BarLink To="verdadesfe">Verdades de Fé</BarLink>
    </BarItem>
    <BarItem>
      <BarLink To="catecismo">Catecismo</BarLink>
    </BarItem>
    <BarItem>
    </BarItem>
  </BarStart>
  <Toggle />
</BarMenu>
</Bar>

@code{
  protected override void OnInitialized() {
    State.OnChange += StateHasChanged;
    navigation.LocationChanged += LocationChanged;
  }
  public void Dispose() {
    State.OnChange -= StateHasChanged;
    navigation.LocationChanged -= LocationChanged;
  }
  string location = "";
  void LocationChanged(object sender, LocationChangedEventArgs e) {
    location = e.Location;
    StateHasChanged();
  }
}
