<nav class="navbar navbar-dark navbar-expand-xl fixed-top mobile">

  <button id="sidebar-collapse" class="navbar-toggler" type="button">
    <span><a class="nav-brand d-inline-block"><span class="iconify" data-icon="fa:calendar-o" data-inline="false"></span></a></span>
  </button>

  <a class="nav-link navbar-brand mx-auto logo" href="{{"/" | relative_url }}"><img src="../img/faviconWhite.svg" width="30px" alt="logo"></a>
  <span class="mr-2">🌕</span>
  <div class="custom-control custom-switch">          
    <input type="checkbox" class="custom-control-input" id="darkSwitch2">
    <label class="custom-control-label" for="darkSwitch2">🌑</label>
  </div>
</nav>